.navbar .menu li a,
.menu-btn {
    color: #000;
}

.navbar.sticky .menu li a {
    color: #fff;
}



/* Projects List Styling */
.projectList .projectList-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.projectList .projectList-content .card,
.projectList .projectList-content img {
    width: 100%;
    transition: all ease 0.3s;
}

.projectList .projectList-content img {
    border: 2px solid #306AC0;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.projectList .projectList-content .card:hover {
    transform: scale(1.05);
}

.projectList .projectList-content .card-content {
    margin-top: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.projectList .projectList-content .card-content h2,
.projectList .projectList-content .card-content p,
.projectList .projectList-content .card-content a {
    cursor: pointer;
}

.projectList .projectList-content .card-content p {
    color: #777990;
}

.projectList .projectList-content .card-content a {
    color: #306AC0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 17px;
}



/* Projects List Styling */
.projectDtl .article-summary {
    align-items: flex-start;
}

.projectDtl .summary-sec {
    flex-basis: 170px;
}

.projectDtl h1 {
    font-size: 3rem;
    margin-bottom: 50px;
    font-weight: 500;
}

.projectDtl h2 {
    font-size: 2rem;
    font-weight: 500;
}

.projectDtl p {
    color: #777990;
}

.projectDtl a {
    color: #306AC0;
    transition: all ease 0.3s;
}

.projectDtl a:hover {
    text-decoration: underline;
}

.projectDtl p.summary-title {
    color: #000;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.projectDtl img {
    width: 100%;
    margin: 80px 0;
    border: 2px solid #306AC0;
    border-radius: 30px;
}

.projectDtl .projectDtl-content {
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 100px 0;
    border-bottom: 1px solid #777990;
}

.projectDtl .projectDtl-content h2,
.projectDtl .projectDtl-content .proj-sec-content {
    flex-basis: 50%;
}

.projectDtl-content .proj-sec-content {
    color: #777990;
}



@media (max-width: 850px) {
    .menu-btn i.active:before {
        content: "\f00d";
        color:#fff;
    }

    .navbar .menu li a {
        color: #fff;
    }

    .projectList .projectList-content {
        gap: 40px;
    }
}

@media (max-width: 850px) {
    .menu-btn i.active:before {
        content: "\f00d";
        color:#fff;
    }

    .navbar .menu li a {
        color: #fff;
    }

    .projectList .projectList-content {
        grid-template-columns: 1fr;
    }
}